{
  "upload": {
    "type": "qiniu",
    "local_dir": "./output",
    "qiniu": {
      "access_key": "",
      "secret_key": "",
      "bucket_name": "dyaigc",
      "domain": ""
    }
  },
  "comfyui": {
    "base_url": "http://127.0.0.1:8188",
    "video_url": "http://127.0.0.1:8199"
  },
  "runninghub": {
    "api_url": "https://www.runninghub.cn/task/openapi/ai-app/run",
    "api_key": "your_api_key_here"
  },
  "douyin": {
    "AppID": "",
    "AppSecret": "",
    "client_key": "your_client_key_here",
    "client_secret": "your_client_secret_here",
    "openapi_token_url": "https://open.douyin.com/oauth/client_token/",
    "miniapp_token_url": "https://developer.toutiao.com/api/apps/v2/token",
    "jscode2session_url": "https://developer.toutiao.com/api/apps/v2/jscode2session"
  }
}
